*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
}
button{
  border: none;
  background-color: transparent;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
  cursor: pointer;
}
.price__macbook__img{
  object-fit: cover;
}
.price-big-img{
  margin-right: 90px;
}
.bx-fullscreen, .bx-exit-fullscreen{
  font-size: 30px;
  border: none;
  filter: drop-shadow(0 2px 2px #1a1a1a);
  color: #fff;
  transition: all 0.4s ease;
}
.bx-fullscreen:hover{
  color: #06c;
  transform: scale(1.1);
}
.bx-exit-fullscreen:hover{
  color: #06c;
  transform: scale(1.1);
}
.price__mac__btn{
  padding: 5px;
  border-radius: 10px;
}
.img-items{
  transition: all 0.2s ease;
}
.active{
  outline: 2px solid #000;
  border-radius: 10px;
}
#price{
  padding-top: 110px;
}
.price__title{
  font-size: 48px;
  width: 500px;
}
.press-exc{
  background-color: #1c1c1cc7;
  color: #fff;
  padding: 15px 30px;
  width: 300px;
  display: none;
  position: absolute;
  top: -16%;
  left: 18%;
}
.esc{
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 4px;
}
.bx-exit{
  font-size: 30px;
  color: #06c;
}
.price__sub__title{
  font-size: 17px;
  font-weight: 600;
}
.price__memory__btn{
  border: 1px solid #888;
  padding: 14px 10px;
  width: 180px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 17px;
}
.price__capacity{
  margin-bottom: 30px;
}
.price__inner__part{
  padding: 0 10px;
  position: relative;
  left: 80px;
  top: -55px;
}
.box-wrapper{
  overflow-x: hidden;
}
.golder-color{
  width: 24px;
  height: 24px;
  background-color: #d29d00;
  border-radius: 50%;
  display: inline-block;
}
.gray-color{
  background-color: #c0c0c0;
}
.gray-space-color{
  background-color: #808080;
}
.color-btn{
  width: 280px;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #888;
}
.active-price{
  box-shadow: 0 0 1px 1px #06c;
  transition: all 0.3s ease;
}
.price__minus__btn{
  padding: 6px 20px;
  border: 1px solid rgba(204, 204, 204, 0.803);
  border-radius: 5px 0 0 5px;
}
.price__plus__btn{
  border-radius: 0 5px 5px 0;
}
.price__count{
  width: 80px;
  padding-left: 35px;
  border: 1px solid rgba(204, 204, 204, 0.479);
}
.price__count:focus{
  outline: none;
}
.count-icon{
  font-size: 25px;
}
.price__info{
  font-size: 32px;
}
.price-del-info{
  font-size: 20px;
}
.add-card-btn{
  background-color: #06c;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  width: 90%;
}
.compare-btn{
  background-color: #f5f5f7;
  color: #06c;
}

.price__second__wrap{
  overflow: scroll;
  height: 78vh;
  position: relative;
  top: -60px;
  padding-left: 5px;
}
.price__second__wrap::-webkit-scrollbar{
  width: 0px;
}

.product__btn__wrapper{
  width: 100%;
  height: 58px;
  background-color: #f5f5f7;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}
.act{
  background-color: #fff;
  margin: 7px;
  border-radius: 10px;
  width: 50%;
  height: 45px;
  position: absolute;
  top: 0;
}
.product__btn{
  font-size: 18px;
  font-weight: 600;
  color: #5e5e5f;
  z-index: 11;
}
.product__small__container{
  width: 93%;
  margin: 0 auto;
}
.product__sub__title{
  font-size: 28px;
  font-weight: 700;
  color: #000;
}
.product__img{
  object-fit: cover;
}
.product__list__wrap{
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.product__name{
  font-size: 17px;
  color: #1d1d1d;
  transition: all 0.3s ease;
  font-weight: 500;
}
.product__name:hover{
  color: #06c;
}
.left-button{
 position: absolute;
 left: 0;
 top: 50%;
}
.right-button{
  position: absolute;
  right: 0;
  top: 50%;
}
.left-right-btn{
  font-size: 40px;
  color: #666;
}
.arrow-btn{
  background-color: #ececec;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.containerr{
  width: 1160px;
  margin: 0 auto;
}
.site-footer{
  background-color: #f5f5f7;
  padding: 50px 0 20px;
  border-top: 1px solid #d6d6d6;
}
.footer-title{
  font-size: 14px;
  margin-bottom: 15px;
}
.footer-link{
  font-size: 14px;
  color: #515154;
  margin-bottom: 10px;
}
.footer-link:hover{
  text-decoration: underline !important;
  color: #515154;
}
.footer-icon{
  font-size: 25px;
  color: #515154;
}



@media screen and (max-width: 1000px) {

  .price__main__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .price__title__wrapper{
    justify-content: center;
    margin-top: 55px;
  }
  .price__inner__part{
    margin: 0 0;
  }
  .price__mac__imgs{
    width: 100%;
  }
  .price__capacity{
    width: 100%;
  }
}